*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 1320px;
    margin: 0px auto;
    height: 100%;

}
#nav{
    background: #f2f2f2 ;
    color: #999999;
    font-size: 14px;
    height: 32px;
}
#nav_slogan{
    float: left;
    height: 100%;
    line-height: 32px;
    font-size: 12px;

}
#nav_slogan>a{
    color: #999;
    text-decoration: none;
   padding: 0 10px;
   
}
#nav_slogan>a:hover{
    color: #ff0036;
}
#nav_slogan>span{
margin-right:10px;
}
li{
    list-style: none;
}
#nav_menu>.nav_menu_list{
    float: left;
}
#nav_menu{
    float: right;
}
#nav_menu>.nav_menu_list>a{
    color: #999999;
}
#nav_menu>.nav_menu_list>a:hover{
   color: #ff0036;
   
}
#nav_menu>.nav_menu_list_link>a:hover{
    background: #ffffff;
    text-decoration:underline;
   
 }
#nav_menu{
    height: 100%;
    float: right;
}
#nav_menu>.nav_menu_list>a{
    display: inline-block;
    height: 100%;
    color: #999;
    line-height: 32px;
    text-decoration: none;
    padding: 0 10px;
}
#nav_menu>.nav_menu_list_web>a:hover{
    color: #999999;
}
#nav_menu>.nav_menu_list .iconfont{
    color: #f0036f;
    font-size: 12px;
}
#nav_menu .nav_menu_list_inner {
    background: #ffffff;
    padding: 8px 10px;
    
}
#nav_menu .nav_menu_list_inner a{
    line-height: 1.5px;
    color: #999999;
    text-decoration: none;
    
}
#nav_menu .nav_menu_list_inner a:hover{
    
    color: #ff0036;
    text-decoration: underline;
}